* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

:root {
    --marromChocolate: #8e4f23;
    --chocolate: #974209;
    --marromfosco: #8c5f41;
    --marromClaro: #d2b48c;
    --preto: #000000;
    --branco: #ffffff;
    --cinza: #777777;
    --fundo-site: #EAEAEA;
}


@font-face {
    font-family: Raleway;
    src: url(fonts/Raleway/static/Raleway-Bold.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(fonts/Raleway/static/Raleway-Regular.ttf);
}


body {
    background-color: var(--fundo-site);
}

/* HEADER */
header {
    width: 100%;
}

header>div.container-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 157px;
    /* background-color: rgb(213, 150, 255); */
}

.container-flex {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}


#logo {
    width: 155px;
}

.links {
    display: flex;
    align-items: center;
    gap: 100px;
}

.links a {
    font-size: 25px;
    color: #000000;
    text-decoration: none;
}

.links a:hover {
    color: var(--chocolate);
    border-bottom: 1px solid var(--chocolate);
}

#icone-barras,
#icone-x,
#menu_botao {
    display: none;
}

#bannerprincipal {
    width: 100%;
    /* background-image: url(img/thayssa\ principal.jpg); */
    object-fit: cover;
    height: 1200px;
}

/* =======================================ILUSTRAÕES============================================================= */

#ilustracoes {
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.card-ilustracao {
    background-color: #d2b48c;
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.card-ilustracao>img {
    width: 300px;
}

/* =========================================================SOBRE NÓS===================================== */

#bannerthayssa2 {
    width: 45%;
    object-fit: cover;
    height: 1000px;
    margin-top: 50px;
    margin-left: 60px;
    border-radius: 10px;
}

#sobre-nos {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    max-width: 2900px;
}

#sobre-nos p {
    line-height: 1.6;
    font-size: 30px;
    /* margin-right: 30px; */
    margin-left: 90px;
}

/* ==============================================CARDAPIO============================================= */

#cardapiodoce {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}


.salgado {
    background-color: #d2b48c;
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

#cardapiosalgado {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}


.doce {
    background-color: #d2b48c;
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}


#cardapiobebidas {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 90px;
}

.bebidas {
    background-color: #d2b48c;
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

h1,
h2 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/* ==========================================AULAS DE PANIFICAÇÃO================================================== */
p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 400PX;
    margin-right: 400px;
    margin-top: 50px;
}



#cases img {
    height: 300px;
    border-radius: 40px;
}

#meuCarrossel {
    /* max-width: 1000px;
    width: 100%;
    align-items: center;
    display: flex */

        width: 55%;
    object-fit: cover;
    height: 1000px;
    margin-top: 50px;
    margin-left: 500px;
    border-radius: 10px;
}

/* ----------Contato---------- */

#contato {
    text-align: center;
    padding-bottom: 100px;
    margin-bottom: 100px;
}

#contato .titulo {
    justify-content: center;
    margin: 90%;
}




/* ============================================================MISSÃO, VISÃO E VALORES======================================= */

#valores {
    padding: 50px 0;
}

.cardsMVV {
    width: 100%;
    max-width: 2300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: var(--marromClaro);
    padding: 50px 30px;
}

.cardmvv {
    flex-basis: 30%;
    text-align: center;
    padding: 0 15px;
}

.cardmvv h2 {
    font-size: 30px;
    color: var(--preto);
    margin-top: 0;


}

.cardmvv p {
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    text-align: center;
}

.footer {}

/* ==================================================FOOTER================================================ */

footer {
    background-color: var(--marromClaro);
    padding: 0;
}

#cadastro{
     background-color: var(--chocolate);
      max-width: 100%;
      height: 80px;
    /* border-radius: 10px; */
}

#cadastro h2 {
    margin-top: 50px;
    color: var(--branco); 
    align-items: center;  
}

#footer-cadastro {
   background-color: var(--chocolate);
    padding: 100px;
    text-align: center;
    max-width: 80%;
    border-radius: 10px;
    align-items: center;
    margin: -80px auto 0;
    border-radius: 5px;
    margin-top: 0px;
}

#footer-cadastro input {
    color: var(--preto);
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 1em;
    background-color: var(--marromClaro);

}

#footer-cadastro button {
    background-color: var(--marromClaro);
    color: var(--preto);
    padding: 12px 30px;
    border: none;
    border-radius: 3px; 
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
}

/* -----------------------------------------------------------------------redes sociais */

#redes-sociais {
    background-color: var(--marromClaro); 
    color: var(--preto); 
    text-align: center;
    padding: 60px 0 40px;
}


.icones-sociais {
    display: flex; 
    justify-content: center; 
    gap: 80px; 
    margin-top: 45px;
    
}

.rede-social-item {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    text-decoration: none; 
    color: var(--preto);
    font-weight: bold;
    font-size: 1.2em;
}

.redes-sociais-item span{
    margin-top: 40px;
}

#txt{
    font-size: 25px;
}

/* -------------------------------------------------------------mapa */

#footer-mapa {
    background-color: var(--chocolate); 
    color: var(--branco);
    padding: 40px 0;
}

.contato-geral {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px; 
}

.info-contato {
    width: 40%; 
}

.coluna-mapa {
    width: 60%; 
    display: flex;
    justify-content: flex-end; 
    margin-right: 400px;
}

#footer-mapa h2 {
    font-size: 2.2em;
    margin-top: 0;
    text-align: left; 
    justify-content: flex-start;
    display: flex;
    margin-left: 550px;
}

.contato-info p {
    
    margin: 20px ;
    display: flex;
    align-items: center;
    font-size: 2em; 
    margin-left: 400px;
}

.contato-info svg {
    margin-right: 25px;
    fill: var(--branco);
    height: 30px;
    width: 30px;
}


.mapa-localizacao {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mapa-localizacao p {
    margin: 15px ;
    display: flex;
    align-items: center;
    font-size: 1.4em; 
}



/* -------------------- Responsividade --------------- */

@media screen and (max-width: 768px) {
#sombra {
        background-color: #9D562390;
        backdrop-filter: blur(10px);
        z-index: 1;
        position: fixed;
        width: 100vw;
        height: 100vh;
        right: -101vw;
        transition: .5s;
    }

    #menu_botao {
        display: block;
        z-index: 1;
    }

nav.menu {
        height: 100vh;
        width: 200px;
        padding: 0px 30px;

        flex-direction: column;
        justify-content: space-around;
        gap: 15px;

        position: fixed;
        top: 165px;
        right: -210px;
        z-index: 1;
        transition: .5s;
    }
}  